<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      <!-- MAP -->
    </div>
    <div class="col-md-9">
      <div class="card">
        <img
          src="<%= campground.image %>"
          class="card-img-top img-responsive"
        />
        <div class="caption-full px-3">
          <h4 class="float-right">$9.00/night</h4>
          <h2><a href=""><%= campground.name %></a></h2>
          <p><%= campground.description %></p>
          <p><em>Submitted By <strong><%= campground.author.username %></strong></em></p>
          <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
          <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning text-light">Edit</a>
          <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger text-light">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="card bg-light p-3 my-3">
        <div class="text-right">
          <a
            href="/campgrounds/<%= campground._id %>/comments/new"
            class="btn btn-success"
            >Add New Comment</a
          >
        </div>
        <hr>
        <% campground.comments.forEach(function(comment){ %>
        <div class="row px-3">
          <div class="col-md12 w-100">
                <span class=""><strong><%= comment.author.username %></strong></span>
                <span class="float-right">10 days ago</span>
            <p class="text-muted"><%= comment.text %></p>
            <a class="float-right mx-2" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"><i class="far fa-edit"></i></a>
            <form class="d-inline float-right" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
            <button class="fakeBtn text-primary"><i class="far fa-trash-alt"></i></button>
            </form>
          </div>
        </div>

        <% }) %>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
